<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Draw Curves</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src = "https://d3js.org/d3.v5.min.js"></script>
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a href="/">Sandbox</a></li>
          <li class="main-header__item"><a href="/ball">Ball</a></li>
          <li class="main-header__item"><a href="/draw">Draw</a></li>
          <li class="main-header__item"><a href="/drawRect">Triangles</a></li>
          <li class="main-header__item"><a class="active"  href="/curve">Lines</a></li>
        </ul>
      </nav>
    </header>
    <main></main>
    <script type="module" src="trailFn.js"></script>
    <script type="module" src="svgGrid.js"></script>
    <script type="module" src="drawCurve.js"></script>
  </body>
  </html>
    
