<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Draw</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src = "https://d3js.org/d3.v5.min.js"></script>
    <!-- <script type="text/javascript" src="./node_modules/d3/dist/d3.min.js"></script> -->
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item" class="active"><a href="/sandbox">Sandbox</a></li>
            <li class="main-header__item"><a href="/ball">Ball</a></li>
            <li class="main-header__item"><a  class="active"  href="/draw">Draw</a></li>
        </ul>
    </nav>
    </header>
    <svg
      id="svgContainer"
      width="1000px"
      height="700px"
      style="border: 5px solid green;"
    ></svg>
    <script type="text/javascript" src="draw.js"></script>
  </body>
</html>

