<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>d3 elements</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src = "https://d3js.org/d3.v5.min.js"></script>
    <!-- <script src="./node_modules/d3/dist/d3.min.js"></script> -->
</head>
<body>
  <header class="main-header">
    <nav class="main-header__nav">
      <ul class="main-header__item-list">
          <li class="main-header__item"><a class="active" href="/sandbox">Sandbox</a></li>
          <li class="main-header__item"><a href="/ball">Ball</a></li>
          <li class="main-header__item"><a href="/draw">Draw</a></li>
      </ul>
  </nav>
  </header>
    <p>cane</p>
    <br><br><br><br>
    <div class="grafico"></div>
    <div class="grafico2"></div>
    <br><br><b><br>
    <div class="transition"></div>
    <div class="circles"></div>
    <script type="text/javascript" src="sandbox.js"></script>
  </body>
</html>
